@font-face {
  font-family: myFont;
  src: url(./fonts/Stardew_Valley.ttf);
}

.heading {
  padding-bottom: none;
  background-image: url(./background-image/long-parchment.svg);
  background-repeat: no-repeat;
  width: 100%;
}

/*CSS for the H1 and H2 in the title*/
.title-heading {
  font-family: myFont;
  color: brown;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  text-align: center;
  color: brown;
  /*font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;*/
  justify-content: center;
  margin: 4em;
  padding: 0.1em;
  margin-bottom: 10%;
  margin-top: 1%;
  font-size: 25px;
}

.hogwarts-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
}

.navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

button#button1.button {
  background-color: #a844dd;
}

button#button2.button {
  background-color: #a844dd;
}

button#button3.button {
  background-color: #a844dd;
}

button#button1.button:hover {
  background-color: white;
  color: #a844dd;
}

button#button2.button:hover {
  background-color: white;
  color: #a844dd;
}

button#button3.button:hover {
  background-color: white;
  color: #a844dd;
}

button#button4.button {
  background-color: #a844dd;
}

button#button5.button {
  background-color: #a844dd;
}

button#button6.button {
  background-color: #a844dd;
}

button#button4.button:hover {
  background-color: white;
  color: #a844dd;
}

button#button5.button:hover {
  background-color: white;
  color: #a844dd;
}

button#button6.button:hover {
  background-color: white;
  color: #a844dd;
}

.button-container {
  position: absolute; /* position the container absolutely */
  top: 55%; /* align the container to the middle of the image vertically */
  left: 30%; /* align the container to the middle of the image horizontally */
  transform: translate(-50%, -50%); /* center the container */
  display: flex; /* make the buttons display in a row */
  gap: 65px; /* add some spacing between the buttons */
  margin-top: 0.5em;
}

.button-container2 {
  position: absolute; /* position the container absolutely */
  top: 65%; /* align the container to the middle of the image vertically */
  left: 70%; /* align the container to the middle of the image horizontally */
  transform: translate(-50%, -50%); /* center the container */
  display: flex; /* make the buttons display in a row */
  gap: 80px; /* add some spacing between the buttons */
}

.navigation-image {
  margin-top: 1em;
  width: 40%;
}

#wrapper {
  background-repeat: no-repeat;
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

h1 {
  display: flex;
  text-align: center;
  color: brown;
  /*font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;*/
  background-repeat: no-repeat;
  justify-content: center;
  margin: 4em;
  margin-bottom: 0%;
  margin-top: 0%;
  font-size: 70px;
}

h2 {
  margin-right: 1em;
  margin-left: 0.5em;
  text-align: left;
  font-size: 30px;
}

.time {
  position: absolute;
  color: #5a2d8e;
  left: 15%;
  top: 5%;
  font-size: 25px;
  margin-top: 1.2em;
}

.date {
  position: absolute;
  color: #5a2d8e;
  left: 25%;
  top: 5%;
  font-size: 25px;
  margin-top: 1.2em;
}

.user {
  position: absolute;
  color: #5a2d8e;
  left: 38%;
  top: 5%;
  font-size: 25px;
  margin-top: 1.2em;
}

.expelled {
  position: absolute;
  color: #5a2d8e;
  left: 54%;
  top: 5%;
  font-size: 25px;
  margin-top: 1.2em;
}

.blood-status {
  position: absolute;
  color: #5a2d8e;
  left: 65%;
  top: 5%;
  font-size: 25px;
  margin-top: 1.2em;
}

.inquisitorial-squad {
  position: absolute;
  color: #5a2d8e;
  left: 75%;
  top: 5%;
  font-size: 25px;
  margin-top: 1.2em;
}

input#input {
  font-family: myFont;
  font-size: 30px;
  color: brown;
  border: solid purple;
  background-color: bisque;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=152389), auto;
}

button {
  font-family: myFont;
  font-size: 30px;
  color: bisque;
  cursor: pointer;
  background-color: brown;
}

button:hover {
  font-family: myFont;
  font-size: 30px;
  color: brown;
  cursor: pointer;
  background-color: bisque;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=152389), auto;
}

select#option {
  font-family: myFont;
  font-size: 30px;
  color: brown;
  border: solid rgb(25, 0, 25);
  background-color: bisque;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=152389), auto;
}

textarea#output {
  margin-top: 1.8em;
  margin-right: 6%;
  font-family: myFont;
  font-size: 30px;
  color: brown;
  background-repeat: no-repeat;
  background-image: url(./background-image/parchment.png);
  background-position: 50%;
  border: solid purple;
  width: 30%;
}

html {
  background-image: url(./background-image/stars1.gif);
}

body {
  font-family: "myFont", sans-serif;
  font-size: 25px;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=152330), auto;
}

.student {
  cursor: pointer;
  margin-bottom: 10px;

  border-radius: 1px;
}

.student:hover {
  color: red;
  filter: drop-shadow(15px 10px 4px #a844dd);
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=152330), auto;
}

#student-list {
  text-align: center;
  padding: 2em;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 1fr 1fr 1fr;
}

div.student {
  background-image: url(./background-image/parchment.png);
  background-repeat: no-repeat;
  background-size: 450px;
  height: 250px;
  color: brown;
}

p {
  color: aquamarine;
  display: none;
}

.container {
  text-align: center;
}

#button4 {
  padding: 0px 20px;
}

#not-found {
  display: none;
}

option:nth-child(1):hover {
  background-color: #a844dd;
  color: white;
}

option:nth-child(2):hover {
  background-color: #740001;
  color: #eeba30;
}

option:nth-child(3):hover {
  background-color: #1a472a;
  color: #dfd1d1;
}

option:nth-child(4):hover {
  background-color: #eeb939;
  color: #372e29;
}

option:nth-child(5):hover {
  background-color: #222f5b;
  color: #e69824;
}

select {
  overflow: hidden;
}
